@import url(//fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap);
@import url(////fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@600&display=swap);
@import url(////fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400&display=swap);


body {
	  font-family: 'Roboto', Helvetica, Arial,sans-serif;
	  font-weight: 400;
}


h1{
  font-family: 'Baloo Bhaina 2', 'Roboto', Helvetica, Arial,sans-serif;
  color: #0A7BE2;
  margin-top: 0;
  font-weight: 700;
  font-size: 250%;
  margin-bottom: 0px;
  line-height: 42px;
}
.rst-content .toctree-wrapper>p.caption, h2, h3, h4, h5, h6, legend {
    margin-top: 0;
    font-weight: 700;
    font-family: Roboto,ff-tisa-web-pro,Georgia,Arial,sans-serif;
}

p {
    line-height: 24px;
    font-size: 16px;
    margin: 0 0 24px;
    color: #504040;
}

a {
  color: #0424A8;
  text-decoration: none;
  }
  
a:hover {
   color: #0424A8;
   text-decoration: underline;
  }

a:visited {
  color: #0424A8;
  text-decoration: none;
  }

.wy-side-nav-search {
      background-color: #0A7BE2;
    }

.wy-side-nav-search>div.version {
    margin-top: 0em;
    margin-bottom: 0em;
    visibility: hidden;
  }

.wy-breadcrumbs li.wy-breadcrumbs-aside {
    float: right;
    visibility: hidden;
}

.wy-nav-side {
    background-color: #0A7BE2;
}
.wy-menu-vertical a:link {
    color:#fff;
    cursor: pointer;
}
.wy-menu-vertical a:hover {
    background-color: #fff;
    color:#0424A8!important;
    cursor: pointer;
}
.wy-menu-vertical a:visited {
    color:#fff;
    cursor: pointer;
}

.wy-nav-top {
  background-color: #0A7BE2;
}

.wy-menu-vertical li.current>a, .wy-menu-vertical li.on a {
    color: #0424A8;
}

.wy-menu-vertical li.toctree-l2.current a, .wy-menu-vertical li.toctree-l2.on a {
    color: #0424A8;
    background-color: #00C3FF;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3 a {
      background-color: #F5F7FF;
}

.wy-menu-vertical li.toctree-l3.current a, .wy-menu-vertical li.toctree-l3.on a {
    color: #0424A8;
    background-color: #00C3FF;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3 a:hover {
      background-color: #00C3FF;
}



.wy-menu-vertical li.toctree-l2 a, .wy-menu-vertical li.toctree-l3 a, .wy-menu-vertical li.toctree-l4 a, .wy-menu-vertical li.toctree-l5 a, .wy-menu-vertical li.toctree-l6 a, .wy-menu-vertical li.toctree-l7 a, .wy-menu-vertical li.toctree-l8 a, .wy-menu-vertical li.toctree-l9 a, .wy-menu-vertical li.toctree-l10 a {
    color: #0424A8;
    background-color: #F5F7FF;
}

.wy-menu-vertical li.toctree-l2 a:hover, .wy-menu-vertical li.toctree-l3 a:hover, .wy-menu-vertical li.toctree-l4 a:hover, .wy-menu-vertical li.toctree-l5 a:hover, .wy-menu-vertical li.toctree-l6 a:hover, .wy-menu-vertical li.toctree-l7 a:hover, .wy-menu-vertical li.toctree-l8 a:hover, .wy-menu-vertical li.toctree-l9 a:hover, .wy-menu-vertical li.toctree-l10 a:hover {
    color: #0424A8;
    background-color: #00C3FF;
}

.highlight {
    background: #F5F7FF;
}

.btn-neutral {
    background-color: #00C3FF!important;
    color: #404040!important;
}
.btn-neutral:hover {
    background-color: #0A7BE2!important;
    color: #ffffff!important;
    text-decoration: none;
}
/*
li.toctree-l1 a li.toctree-l2 a li.toctree-l3 a li.toctree-l3 a li.toctree-l4 li.toctree-l5 a li.toctree-l6 a li.toctree-l7 a li.toctree-l8 a li.toctree-l9 a li.toctree-l0 a {
    color: #0424A8;
    background-color: #F5F7FF;
}

li.toctree-l1:hover a li.toctree-l2:hover a li.toctree-l3:hover a li.toctree-l3:hover a li.toctree-l4:hover li.toctree-l5:hover a li.toctree-l6:hover a li.toctree-l7:hover a li.toctree-l8:hover a li.toctree-l9:hover a li.toctree-l0:hover a {
  background-color: #00C3FF;
}

li.toctree-l1:active a li.toctree-l2:active a li.toctree-l3:active a li.toctree-l3:active a li.toctree-l4:active li.toctree-l5:active a li.toctree-l6:active a li.toctree-l7:active a li.toctree-l8:active a li.toctree-l9:active a li.toctree-l0:active a {
  background-color: #00C3FF;
} 
*/
